# Config file for automatic testing at travis-ci.org
sudo: false
language: python
arch: ppc64le
      
      
matrix:
    include:
      - python: 2.7
        env: TOX_ENV=py27
      - python: 3.4
        env: TOX_ENV=py34
      - python: 3.5
        env: TOX_ENV=py35
      - python: 3.6
        env: TOX_ENV=py36
      - python: 3.7
        env: TOX_ENV=py37
        
script: tox -e $TOX_ENV

install:
    - pip install tox
