# SPDX-FileCopyrightText: 2023 The binaryornot Authors, see AUTHORS.rst
#
# SPDX-License-Identifier: BSD-3-Clause

include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
