# SPDX-FileCopyrightText: 2023 The binaryornot Authors, see AUTHORS.rst
#
# SPDX-License-Identifier: BSD-3-Clause

# The following are for local development
invoke
flake8
autopep8
Sphinx
coverage
tox
hypothesis
argparse
